.App {
  max-width: 600px;
  margin: 30px auto;
  color: var(--main-text);
}

.App a {
  text-decoration: none;
  color: var(--main-text);
  font-weight: 600;
}

.App a:hover {
  color: var(--accent-color);
}

.App footer {
  color: var(--main-text);
  font-size: 11px;
  margin: 10px 0;
}
