:root {
  --main-color: rgb(187, 226, 228);
  --accent-color: rgb(253, 160, 135);
  --main-text: rgb(43, 51, 63);
  --accent-text: #ffffff;
  --font-family: "Nunito", sans-serif;
}

.Weather {
  background: var(--main-color);
  font-family: var(--font-family);
  color: var(--main-text);
  border: 1px solid var(--main-color);
  border-radius: 20px;
  padding: 28px;
}

.Weather .btn-search {
  background: var(--accent-color);
  color: var(--accent-text);
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 2px;
}

.Weather .btn-search:hover {
  background: var(--main-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

.Weather .form-control {
  border: 1px solid #ffffff;
  border-radius: 2px;
}

.Weather h1 {
  text-transform: uppercase;
  color: var(--main-text);
  letter-spacing: 0.5px;
  font-size: 28px;
  font-weight: 700;
  line-height: 29px;
  margin: 20px 0 5px 0;
}

.Weather ul {
  opacity: 0.7;
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
}

.Weather hr {
  color: var(--main-text);
}

.Weather .temperature {
  color: var(--main-text);
  margin-left: 10px;
  margin-right: 8px;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
}

.Weather .unit {
  font-weight: 400;
  position: relative;
  top: -14px;
  line-height: 1;
  margin-left: 0px;
}

.WeatherTemperature .btn-unit,
.btn-unit-active {
  font-size: 16px;
  background: var(--accent-color);
  color: var(--accent-text);
  font-weight: 600;
  border: 1px solid var(--accent-color);
  border-radius: 1px;
}

.WeatherTemperature .btn-unit {
  opacity: 0.7;
}

.WeatherTemperature .btn:hover {
  background: var(--main-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: all 100ms ease-in-out;
}

.WeatherInfo .description {
  margin: 15px 0 0 0;
  text-align: right;
}

.FormattedDate {
  text-align: right;
  margin: 28px 0 5px 0;
}

.FormattedDate .day {
  font-weight: 600;
}

/*SMALLER DEVICE ADJUSTMENTS*/
@media (max-width: 522px) {
  body {
    margin-top: 50px;
  }

  .Weather {
    padding: 24px;
  }

  .Weather .form-control,
  .Weather .btn-search,
  .WeatherForecast {
    font-size: 13px;
  }

  .Weather h1 {
    font-size: 18px;
    margin: 20px 0 0 0;
  }

  .Weather li {
    font-size: 12px;
  }

  .Weather .temperature {
    margin-left: 8px;
    margin-right: 6px;
    font-size: 33px;
  }

  .Weather canvas {
    width: 42px;
  }

  .Weather .unit {
    top: -9px;
  }

  .WeatherInfo .description {
    margin: 8px 0 0 0;
  }

  .WeatherTemperature .btn-unit,
  .btn-unit-active {
    font-size: 12px;
    padding: 6px 9px;
  }

  .WeatherForecast canvas {
    width: 30px;
  }

  .WeatherForecast .col {
    padding: 0 2px 0 2px;
  }

  .WeatherForecast-temperatures {
    font-size: 12px;
  }

  .App footer {
    font-size: 10px;
  }
}
