.Weather {
  background: #90b8f8;
  font-family: Arial, Helvetica, sans-serif;
  color: #353941da;
  border: 1px solid #90b8f8;
  border-radius: 20px;
  padding: 25px;
}

.Weather .btn-search {
  background: #5f85db;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.Weather .btn-search:hover {
  background: #fff;
  color: #5f85db;
}

.Weather h1 {
  color: #26282b;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
}

.Weather .temperature {
  color: #26282b;
  margin-left: 10px;
  margin-right: 8px;
  font-size: 52px;
  font-weight: 400;
  line-height: 60px;
}

.Weather .unit {
  font-weight: 400;
  position: relative;
  top: -16px;
  line-height: 1;
  margin-left: 0px;
}

.WeatherTemperature .btn-unit,
.btn-unit-active {
  font-size: 16px;
  background: #5f85db;
  color: #ffff;
  font-weight: 600;
  border-radius: 1px;
}

.WeatherTemperature .btn-unit {
  opacity: 0.5;
}

.WeatherTemperature .btn:hover {
  background: #90b8f8;
  color: #ffff;
}
