.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  color: var(--main-text);
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 5px;
}

.WeatherForecast-temperature-max {
  color: var(--main-text);
}

.WeatherForecast-temperature-min {
  opacity: 0.7;
  margin-left: 5px;
}
